@import "./constants.scss";

.about {
  margin-bottom: 7rem;
  width: 100%;
}

.content {
  position: relative;
  display: flex;
  // justify-content: space-between;
  padding: 0 calc(30rem / 16);
  height: auto;
}

.text_container {
  width: 50%;
  > p {
    margin-bottom: 2rem;
    font-size: calc(18rem / 16);
    line-height: 1.6;
  }
}

.subtitle {
  font-family: "Lato", sans-serif;
  letter-spacing: 1.2px;
  margin-top: 0;
}

.img {
  width: calc(300rem / 16);
  height: calc(370rem / 16);
  margin: 1rem 0 0 4rem;
  object-fit: cover;
  border-radius: 15px;
}

.fish_container {
  display: flex;
  justify-content: center;
  @include laptop {
    justify-content: flex-end;
    margin-right: 9rem;
    margin-top: -4.5rem;
  }
  @include desktop {
    justify-content: flex-end;
    margin-right: 19rem;
    margin-top: -2.5rem;
  }
}
