@import "./constants.scss";

.about {
  padding-bottom: 7rem;
}

.content {
  width: fit-content;
  display: flex;
  padding: 0 calc(36rem / 16);
  @include phone {
    flex-direction: column;
    padding: 0;
    margin: auto;
  }
  @include tablet {
    flex-direction: column;
    padding: 0;
    margin: auto;
  }
}

.text_container {
  width: 40vw;
  z-index: $top-level;
  font-family: "Lato", "Segoe UI";
  > p {
    margin-bottom: 2rem;
    font-size: calc(21rem / 16);
    line-height: 1.6;
  }
  :first-child {
    margin-top: 0;
  }
  @include phone {
    width: 100%;
    justify-self: center;
    > p {
      font-size: 1rem;
    }
  }
  @include tablet {
    width: 100%;
    justify-self: center;
  }
}

.subtitle {
  font-family: "Lato", "Segoe UI";
  font-size: calc(28rem / 16);
  letter-spacing: 1px;
  @include phone {
    letter-spacing: -1px;
    font-size: calc(23rem / 16);
  }
  @include tablet {
    letter-spacing: 0;
  }
}

.img_container {
  position: relative;
  margin-left: 12rem;
  @include phone {
    margin: auto;
  }
  @include tablet {
    margin: auto;
    margin-top: 1rem;
  }
}

.img {
  width: calc(430rem / 16);
  object-fit: cover;
  border-radius: 15px;
  @include phone {
    width: calc(320rem / 16);
  }
  @include tablet {
    width: calc(360rem / 16);
  }
}

.fish_container {
  position: absolute;
  bottom: -6rem;
  right: -5rem;
  @include phone {
    left: 0;
    width: -webkit-fill-available;
  }
  @include tablet {
    left: 0;
    width: -webkit-fill-available;
  }
}
