@import "./constants.scss";

.container {
  width: 100%;
  padding: calc(19rem / 16) calc(26rem / 16);
  border: 3px solid white;
  border-radius: 15px;
  cursor: pointer;
  // reset button styling
  color: inherit;
  font: inherit;
  text-align: left;
}

.summary {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chevron {
  transition: all 0.25s linear;
}

.chevron[aria-expanded="true"] {
  transform: rotate(180deg);
}

.details {
  overflow: hidden;
  max-height: calc(1000rem / 16);
  transition: max-height 2s ease;
}

.details[aria-expanded="true"] {
  max-height: 0px;
  transition: max-height 0.75s cubic-bezier(0, 1, 0, 1);
}

.tools {
  margin-top: calc(24rem / 16);
  margin-bottom: calc(12rem / 16);
  font-size: calc(19rem / 16);
  font-style: italic;
  font-weight: normal;
  @include phone {
    font-size: calc(13rem / 16);
  }
}

.desc {
  overflow-wrap: normal;
  margin: 0;
  font-size: calc(20rem / 16);
  line-height: 1.4;
  border-top: white 1.5px solid;
  @include phone {
    font-size: calc(14rem / 16);
  }
  @include tablet {
    font-size: calc(18rem / 16);
  }
}

.github {
  float: right;
}
