@import "./constants.scss";

html {
  padding: 0 calc(80rem / 16);
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: $bg-color;
  color: white;
}

::selection {
  background: rgba(255, 255, 255, 0.904);
  color: $bg-color;
}

/* img {
  display: block;
  max-width: 100%;
  height: auto;
} */
