@import "./constants.scss";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background-color: $bg-color;
  color: white;
  letter-spacing: 0.5px;
}

section {
  margin-bottom: 6rem;
  padding-top: 3rem;
  padding-bottom: 0;
  @include desktop {
    padding-left: calc(130rem / 16);
    padding-right: calc(130rem / 16);
  }
  @include laptop {
    padding-left: calc(80rem / 16);
    padding-right: calc(80rem / 16);
  }
  @include phone {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

#landing {
  margin-right: 0;
  margin-top: 0;
  padding-top: 0;
}

::selection {
  background: rgba(255, 255, 255, 0.904);
  color: $bg-color;
}

.undraggable {
  // do not allow user to select image
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
