@import "./constants.scss";

html {
  padding: 0 0 0 calc(80rem / 16);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-color: $bg-color;
  color: white;
}

section {
  padding-top: 1rem;
}

#landing {
  padding-top: 0;
}

::selection {
  background: rgba(255, 255, 255, 0.904);
  color: $bg-color;
}

.undraggable {
  // do not allow user to select image
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
