@import "./constants.scss";

.container {
  height: fit-content;
  width: fit-content;
}

.link {
  position: relative; // to position the text in middle of jellyfish
  display: flex;
  height: fit-content;
  width: fit-content;
  z-index: $top-level;
  text-decoration: none;
  text-align: center;
  animation: float 3s infinite;
}

.hover {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.15s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.jellyfish {
  @include desktop {
    width: 100%;
  }
  @include laptop {
    width: 13rem;
  }
  @include phone {
    width: 7.5rem;
  }
}

.delay {
  animation: float 3s 1.2s infinite;
}

.text {
  position: absolute; // to position the text in middle of jellyfish
  margin-bottom: 3rem;
  color: $bg-color;
  font-size: calc(21rem / 16);
  font-weight: bold;
  letter-spacing: 1px;
  @include phone {
    display: none;
  }
}

@keyframes float {
  50% {
    transform: translateY(13px);
  }
}
