@import "./constants.scss";

.landing {
  position: relative; // for absolute positioning of jellyfish
  height: 100vh;
}

.text_container {
  position: absolute; // for it to be independent of jellyfish
  display: flex;
  flex-direction: column;
  letter-spacing: 1.5;
  top: 23%;
  z-index: 2;
}

.hello {
  font-size: calc(72rem / 16);
  font-family: "Poppins Bold", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
  line-height: 5rem;
  @include desktop {
    line-height: 1.5;
  }
}

.iam_container {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", sans-serif;
  > * {
    margin: 0;
  }
  @include desktop {
    font-size: calc(32rem / 16);
  }
  @include laptop {
    font-size: calc(24rem / 16);
  }
}

.message {
  margin: 0;
  margin-left: 18px;
  letter-spacing: 1.5px;
}

.nav {
  @include desktop {
    &1 {
      position: absolute;
      left: 52%;
      top: 7%;
      z-index: 2;
    }
    &2 {
      position: absolute;
      left: 75%;
      top: 32%;
      z-index: 2;
    }
    &3 {
      position: absolute;
      left: 60%;
      top: 65%;
      z-index: 2;
    }
  }
  @include laptop {
    &1 {
      position: absolute;
      top: 7%;
      left: 52%;
      z-index: 2;
    }
    &2 {
      position: absolute;
      top: 28%;
      left: 75%;
      z-index: 2;
    }
    &3 {
      position: absolute;
      top: 62%;
      left: 63%;
      z-index: 2;
    }
  }
}
