.landing {
  display: flex;
}

.text_container {
  display: flex;
  flex-direction: column;
  letter-spacing: 1.5;
  justify-content: center;
}

.hello {
  font-size: calc(72rem / 16);
  font-family: "Poppins Bold", sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}

.iam_container {
  display: flex;
  flex-direction: row;
}

.iam {
  font-family: "Poppins Bold", sans-serif;
  font-weight: bold;
  margin: 0;
  font-size: 48px;
}
