@import "./constants.scss";

.landing {
  position: relative; // for absolute positioning of jellyfish
  height: 100vh;
}

.container {
  height: 100%;
  display: flex;
}

.bg_circle {
  &1 {
    position: absolute;
    z-index: 0;
    left: calc(-200rem / 16);
    top: calc(-425rem / 16);
    @include phone {
      left: calc(-300rem / 16);
      top: calc(-250rem / 16);
    }
    @include tablet {
      left: calc(-100rem / 16);
      top: calc(-250rem / 16);
    }
  }
  &2 {
    position: absolute;
    width: calc(800rem / 16);
    z-index: 0;
    right: calc(-100rem / 16);
    top: calc(-300rem / 16);
    @include phone {
      display: none;
    }
    @include tablet {
      display: none;
    }
  }
  &3 {
    position: absolute;
    z-index: 0;
    left: calc(-50rem / 16);
    bottom: calc(-350rem / 16);
    @include phone {
      display: none;
    }
    @include tablet {
      width: calc(600rem / 16);
      bottom: calc(-50rem / 16);
      left: calc(250rem / 16);
    }
  }
  &4 {
    position: absolute;
    width: calc(375rem / 16);
    z-index: 0;
    left: calc(500rem / 16);
    bottom: calc(-200rem / 16);
    @include phone {
      width: calc(300rem / 16);
      left: auto;
      bottom: 0;
    }
    @include tablet {
      width: calc(450rem / 16);
      left: calc(-50rem / 16);
      bottom: calc(-150rem / 16);
    }
  }
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: $top-level;
}

.hello {
  font-size: calc(76rem / 16);
  font-family: "Poppins Bold", "Segoe UI";
  font-weight: bold;
  margin: 0;
  @include phone {
    font-size: calc(46rem / 16);
  }
  @include tablet {
    font-size: calc(70rem / 16);
  }
}

.iam_container {
  display: flex;
  flex-direction: row;
  font-family: "Poppins", "Segoe UI";
  font-size: calc(32rem / 16);
  letter-spacing: 1px;
  > * {
    margin: 0;
  }
  @include phone {
    font-size: calc(18rem / 16);
    font-family: "Poppins Medium", "Segoe UI";
    height: 24%;
    letter-spacing: -1px;
  }
  @include tablet {
    font-size: calc(24rem / 16);
    font-family: "Poppins Medium", "Segoe UI";
    height: 22%;
    letter-spacing: -1px;
  }
}

.message {
  margin: 0;
  margin-left: calc(18rem / 16);
  @include phone {
    margin-left: 0.5rem;
  }
}

.nav {
  &1 {
    position: absolute;
    top: 5%;
    left: 50%;
    @include phone {
      left: 7%;
    }
    @include tablet {
      left: 7%;
      top: 4%;
    }
  }
  &2 {
    position: absolute;
    right: 5%;
    bottom: 40%;
    @include phone {
      top: 15%;
      left: 50%;
    }
    @include tablet {
      top: 11%;
      left: 62%;
    }
  }
  &3 {
    position: absolute;
    bottom: 5%;
    right: 20%;
    @include phone {
      bottom: 20%;
    }
    @include tablet {
      bottom: 20%;
      left: 43%;
    }
  }
}
