@import "./constants.scss";

.container {
  display: flex;
  flex-direction: row;
  @include phone {
    flex-direction: column;
  }
}

.title {
  font-size: calc(25rem / 16);
  letter-spacing: 0.075rem;
  margin: 0;
  @include phone {
    letter-spacing: -1px;
  }
}

.subtitle {
  margin: 0 calc(6rem / 16);
  font-size: calc(25rem / 16);
  font-weight: normal;
  @include phone {
    margin: 0;
    font-size: calc(18rem / 16);
  }
}
