@import "./constants.scss";

.container {
  display: flex;
  flex-direction: row;
  white-space: pre-wrap;
  @include phone {
    flex-direction: column;
    white-space: nowrap;
  }
  @include tablet {
    flex-direction: column;
    white-space: nowrap;
  }
}

.title {
  font-size: calc(25rem / 16);
  letter-spacing: 0.075rem;
  margin: 0;
  @include phone {
    letter-spacing: -1px;
    font-size: calc(20rem / 16);
  }
  @include tablet {
    letter-spacing: 0px;
  }
}

.subtitle {
  margin: 0;
  font-size: calc(25rem / 16);
  font-weight: normal;
  @include phone {
    margin: 0;
    font-size: calc(14rem / 16);
  }
  @include tablet {
    margin: 0;
    font-size: calc(18rem / 16);
  }
}
